
# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

Secrets.swift


# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods (au cas où)
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode Previews
PreviewContent/
